{% extends 'base.html.twig' %}

{% block body %}
    {% include 'layout/default/header.html.twig' %}
    {% include 'layout/default/navigation.html.twig' %}
    <main>
        {% block main %}
        
        {% endblock %}
    </main>
    {% include 'layout/default/footer.html.twig' %}
{% endblock %}
