<nav>
    {% if app.user %}
        <span>{{ app.user.email }}</span>
        <a href="{{ path('app_logout')}}">Déconnexion</a>
    {% else %}
        <a href="{{ path('app_login')}}">Connexion</a>
    {% endif %}
</nav>